body {
  font-family: "Almendra", cursive;
  color: #212121;
  background-color: #fff3e0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  font-family: "MedievalSharp", serif;
}

h1 {
  width: 100%;
  text-align: center;
}

h2 {
  margin: 16px 0;
}

.sub-header {
  margin: -16px 0 8px 0;
  font-style: italic;
}

.full-moon::after {
  content: "○";
}

.new-moon::after {
  content: "●";
}

.half-waxing::after {
  font-size: 0.7em;
  content: "◐";
}

.half-waning::after {
  font-size: 0.7em;
  content: "◑";
}

.current-day {
  border: 2px solid #e22;
}

.equinox::after {
  content: "⊖︎";
}

.months-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0 16px;
}

.months-container > div {
  flex-basis: 1;
  margin: 0 16px;
}

#inputContainer {
  display: flex;
  justify-content: center;
  margin: 16px 0;
}
#inputContainer > div {
  margin: 8px;
}

#inputContainer .hide-input {
  opacity: 0;
}

#inputContainer .hide-input::after {
  content: "visibility_off";
}

#inputContainer:hover .hide-input {
  opacity: 1;
}

#inputContainer.hidden > div {
  display: none;
}

#inputContainer.hidden .hide-input::after {
  content: "tune";
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

.pointer {
  cursor: pointer;
}

.nowrap {
  white-space: nowrap;
}
