body {
  font-family: "Almendra", cursive;
  background-color: #fff3e0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  font-family: "MedievalSharp", serif;
}

h1 {
  width: 100%;
  text-align: center;
}

h2 {
  margin: 16px 0;
}

.sub-header {
  margin: -16px 0 8px 0;
  font-style: italic;
}

.full-moon::after {
  content: "◦";
}

.new-moon::after {
  content: "●";
}

.current-day {
  border: 2px solid #e22;
}

.equinox::after {
  content: "⊖︎";
}

.months-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.months-container > div {
  flex-basis: 1;
  margin: 10px;
}
